#events .items .item .title {
	text-shadow: 1px 0 10px #ffffffff, 0 1px 10px #ffffffff, -1px 0 10px #ffffffff, 0 -1px 10px #ffffffff;
}

#events .items .item .description {
	text-shadow: 1px 0 10px #ffffffff, 0 1px 10px #ffffffff, -1px 0 10px #ffffffff, 0 -1px 10px #ffffffff;
}

#events .items .item {
	background-position: center;
	background-repeat: no-repeat;
}

#events .items .item .huinya {
	height: 47px !important;
}

#events .items .item .yesno .yes {
	height: 47px;
}

#events .items .item .yesno .no {
	height: 47px;
}

/* Will Toncoin be listed on Binance in Q1 2023? */
.item.item7 {
	background-image: url(https://i.imgur.com/ORstQBO.png);
}

/* Will STON.fi be ahead of the DeDust.io project in implementing liquidity yield monitoring? */
.item.item20 {
	background-image: url(https://i.imgur.com/30yrc6d.png);
}

/* TON Society allocates a grant to Investkingyru in January 2023 (10.01 — 31.01) */
.item.item25 {
	background-image: url(https://i.imgur.com/2CPV3P5.png);
}

/* TON Rocket supports P2P (fiat) by the end of January 2023 (16.01 — 31.01) */
.item.item9825156645436 {
	background-image: url(https://i.imgur.com/xtYK9Xo.png);
}

/* Telegram team releases DEX on TON in 1Q 2023 (16.01 — 31.03) */
.item.item8837065994707 {
	background-image: url(https://i.imgur.com/T7XtFSW.png);
}

/* All eggs from the New Year's Eggs collection are sold out by the end of January 9, 2023 (07.01 — 09.01) */
.item.item7714862134498 {
	background-image: url(https://i.imgur.com/FDZojKm.png);
}

/* GetGems supports TON Storage NFT by the end of January 15, 2023 (10.01 — 15.01) */
.item.item1886307954485 {
	background-image: url(https://i.imgur.com/9lQdGKX.png);
}

/* TON Whales NFT floor price is equal to or higher than 410 TON at the end of January 15, 2023 (GMT+3) */
.item.item6118645390716 {
	background-image: url(https://i.imgur.com/VYA5j6I.png);
}

/* Bitcoin price reaches $17000 by the end of January 2023 (16.01 — 31.01) */
.item.item3469976442885 {
	background-image: url(https://i.imgur.com/V1mpops.png);
}

/* The $BOLT jetton price reaches 0.002 TON in January 2023 (16.01 — 31.01) */
.item.item6854867578782 {
	background-image: url(https://i.imgur.com/2NXTgh0.png);
}

/* The $AMBR jetton price reaches 0.1 TON in January 2023 (16.01 — 31.01) */
.item.item6284873864192 {
	background-image: url(https://i.imgur.com/8cPoHzw.png);
}

/* $SCALE price exceeds $AMBR price at the end of the day on January 31 (according to CMC) */
.item.item1673181828 {
	background-image: url(https://i.imgur.com/x2u5zh9.png);
}

/* Bitcoin price reaches $25000 by the end of February 2023 (30.01 — 28.02) */
.item.item1674327652 {
	background-image: url(https://i.imgur.com/V1mpops.png);
}

/* The real Manul coin appears on TON before the end of February (30.01 — 28.02) */
.item.item1674300850 {
	background-image: url(https://i.imgur.com/4CO2m2z.png);
}

/* The @dnktona channel reaches 300k subscribers by the end of St. Valentines Day (30.01 — 14.02) */
.item.item1674300869 {
	background-image: url(https://i.imgur.com/i99S81v.png);
}

/* TON Rocket supports P2P (fiat) by the end of February 2023 (15.02 — 28.02) */
.item.item1675199707 {
	background-image: url(https://i.imgur.com/KbatS97.png);
}

/* SCALE price reaches $0.20 by the end of February 2023 (15.02 — 28.02) */
.item.item1675199558 {
	background-image: url(https://i.imgur.com/xYo5cYl.png);
}

/* BOLT price reaches $0.05 by the end of February 2023 (15.02 — 28.02) */
.item.item1675199594 {
	background-image: url(https://i.imgur.com/vUcO0cB.png);
}

/* AMBR price reaches $0.3 by the end of February 2023 (15.02 — 28.02) */
.item.item1675199660 {
	background-image: url(https://i.imgur.com/8cPoHzw.png);
}

/* $KINGY beats $AMBR in TVL on DeDust.io */
.item.item1685003897 {
	background-image: url(https://i.imgur.com/yM3ePKO.png);
}

/* Pavel Durov mentions Scale token in public by the end of May 2023 (01.03 — 31.05) */
.item.item1675248576 {
	background-image: url(https://i.imgur.com/BxFmxHH.png);
}

/* Elon Musk completes purchase of Silicon Valley Bank by the end of May 2023 (01.04 — 31.05) */
.item.item1678734765 {
	background-image: url(https://i.imgur.com/VhJnPr0.png);
}
