#events .items .item .title {
	text-shadow: 1px 0 10px #ffffffff, 0 1px 10px #ffffffff, -1px 0 10px #ffffffff, 0 -1px 10px #ffffffff;
}

#events .items .item .description {
	text-shadow: 1px 0 10px #ffffffff, 0 1px 10px #ffffffff, -1px 0 10px #ffffffff, 0 -1px 10px #ffffffff;
}

#events .items .item {
	background-position: center;
	background-repeat: no-repeat;
}

/* Will the SEC make a statement about Telegram's activities in the last three weeks of 2022? */
.item.item1 {
	background-image: url(https://i.imgur.com/gLEUzGp.png);
}

/* Will Pavel Durov make a New Year's greeting in his Telegram channel on Dec. 31, 2022? */
.item.item2 {
	background-image: url(https://i.imgur.com/nckmDHZ.png);
}

/* Will a new product be launched on the Fragment site on the 4th of December 2022? */
.item.item3 {
	background-image: url(https://i.imgur.com/z8QREJ9.png);
}

/* Will Changpeng @cz_binance Zhao (CEO of Binance) tweet about the trust wallet on the 3rd or 4th of December, 2022? */
.item.item5 {
	background-image: url(https://i.imgur.com/UQLsOmQ.png);
}

/* Will Toncoin be listed on Binance in Q1 2023? */
.item.item7 {
	background-image: url(https://i.imgur.com/sTXb4yL.png);
}

/* Will the ton.org website be translated to russian on the last week of 2022 (26.12 — 31.12)? */
.item.item8 {
	background-image: url(https://i.imgur.com/4xyGrAR.png);
}

/* Will England beat Senegal on the 4th of December at the 2022 World Cup in the 1/8 finals? */
.item.item10 {
	background-image: url(https://i.imgur.com/PuKAB4d.png);
}

/* Will France beat Poland on the 4th of December at the 2022 World Cup in the 1/8 finals? */
.item.item11 {
	background-image: url(https://i.imgur.com/gkEJMPo.png);
}

/* Will Japan beat Croatia on the 5th of December at the 2022 World Cup in the 1/8 finals? */
.item.item12 {
	background-image: url(https://i.imgur.com/oWHO6Uy.png);
}

/* Will Morocco beat Spain on the 6th of December at the 2022 World Cup in the 1/8 finals? */
.item.item13 {
	background-image: url(https://i.imgur.com/o9UcgyQ.png);
}

/* Will Brazil beat South Korea on the 5th of December at the 2022 World Cup in the 1/8 finals? */
.item.item14 {
	background-image: url(https://i.imgur.com/noF5SnU.png);
}

/* Will Portugal beat Switzerland on the 6th of December at the 2022 World Cup in the 1/8 finals? */
.item.item15 {
	background-image: url(https://i.imgur.com/1bzb1R9.png);
}

/* Will the Telegram team release a TON wallet between December 19 and 25, 2022? */
.item.item18 {
	background-image: url(https://i.imgur.com/EsIyco6.png);
}

/* Will Pavel Durov post a message about TON on his Telegram channel on December 23, 2022? */
.item.item19 {
	background-image: url(https://i.imgur.com/vNmUHR2.png);
}

/* Will STON.fi be ahead of the DeDust.io project in implementing liquidity yield monitoring? */
.item.item20 {
	background-image: url(https://i.imgur.com/30yrc6d.png);
}

/* Will the total amount of bets (on this site) on the final match of the 2022 FIFA World Cup exceed 200 TON? */
.item.item24 {
	background-image: url(https://i.imgur.com/FzgJ1ir.png);
}

/* Will Argentina beat Croatia on the 13th of December at the 2022 World Cup in the semi-finals? */
.item.item25 {
	background-image: url(https://i.imgur.com/QQzIQ0a.png);
}

/* Will France beat Morocco on the 14th of December at the 2022 World Cup in the semi-finals? */
.item.item26 {
	background-image: url(https://i.imgur.com/6tEW2yB.png);
}

/* Will the Libermall NFT Marketplace start working on TON main net in the last two weeks of 2022? */
.item.item27 {
	background-image: url(https://i.imgur.com/ott3tYu.png);
}

/* Will the promised 833 TON be sent to Vudi's CryptoBot wallet on the last two weeks of 2022 (19.12 — 31.12)? */
.item.item29 {
	background-image: url(https://i.imgur.com/8WqlgnL.png);
}

/* Will Argentina beat France on the 18th of December at the 2022 World Cup in the final? */
.item.item30 {
	background-image: url(https://i.imgur.com/5QggRJJ.png);
}

/* Will Croatia beat Morocco on the 17th of December at the 2022 World Cup in the third place play-off? */
.item.item31 {
	background-image: url(https://i.imgur.com/eVCUDRD.png);
}
